@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Bowlby+One+SC&display=swap');

body {
    font-family: 'Bowlby One SC', cursive, fantasy;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: 0;
}