body {
       font-family: "bowlby one", "bowlby one sc", sans-serif;
       font-weight: 400;
       color: #000000;
    background-color: #ffffff;
   }

   /*heading and logo*/
   h1 {
       font-family: "bowlby one", sans-serif;
       font-size: 24px;
       text-transform: uppercase;
       letter-spacing: 5px;
       color: #9d4dbb;
       height: fit-content;
       padding-left: 50px;
   }

   h2 {
       font-family: "bowlby one", sans-serif;
       font-size: 16px;
       text-transform: uppercase;
       letter-spacing: 5px;
       color: #9d4dbb
   }

   #logo {
       float: left;
       font-size: 250%; 
   }

   .mini-heading {
       color: #9d4dbb;
       font-size: 22px;
       text-align: center;
   }

   .tagline {
       text-align: center;
   }

   /*navigation style*/

   .text-right {
       text-align: right;
       list-style-type: none;
       text-decoration: none;
       padding-right: 40px;
       font-size:larger;
   }

   /*menu styles*/

   .menu, #menu {
    list-style-type:none;
    text-decoration: none;
    width: 100%;
    text-transform: uppercase;
    text-align: right;
    float: right;
   }

#menu {
    font-size: 125%;
    letter-spacing: 5px;
    text-align:right;
    margin-right:20px;
    float: right;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
   text-align:right;
}

#menu a {
    text-decoration: none;
    color: #9d4dbb;
}

#menu a:hover {
    border-bottom: 2px solid #9d4dbb;
    cursor: pointer;
}

#menu,
#logo {
    line-height: 75px;
}

.active {
    border-bottom: 2px solid #fff;
}
/* hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 0%;
    background: url(../images/Fortnite\ Cosplay\ gang\ with\ Rex\ and\ Brite\ Bomber.jpg) no-repeat center center;
   
    

/*create hero image zoom effect*/
animation-name: hero-zoom;
animation-duration: 4s;
animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/*meet up information*/
   #meetup-info {
       background: url('assets/images/Fortnite-Cosplay-group-at-E3-2018.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       width: 100%;
       overflow: hidden;
    }

   
   #meetup-info div {
       color: #ffffff;
       width: 25%;
       height: 500px;
       float: left;
       font-size: 30px;
       padding-top: 40px;
       text-align: center;
       padding-left: 20px;
       border: 3px solid white;
       box-sizing: border-box;

   }

   footer {
       height: 175px;
   }

   .social-media {
       text-align: center;
   }

   .social-media>li {
       display: inline;
   }

   .social-media i {
       font-size: 160%;
       margin: 1px;
       padding: 5%;

   }

   .photos {
       clear: both;
       line-height: 0;
       column-count: 4;
       column-gap: 0;
   }

   #photos>img {
       width: 100%;
   }
   
   .solid-submit {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size:20px;
    font-family: "bowlby one", "bowlby one sc", sans-serif;
    padding-top: 3px;
    display: inline-block;
   }

   .solid-reset {
       background-color: #ffffff;
       color: black;
       cursor: pointer;
       text-align: center;
       font-size: 20px;
       font-family: "bowlby one", "bowlby one sc", sans-serif;
       margin-left:4px;
       padding-top: 3px;
       display: inline-block;
   }       
   /*media queries*/


   /*for larger screens*/

   @media screen and (max-width:1200px) {
       #meetup-info {
           width: 65%;
           height: 1200px;
           margin: 0 auto;
       }
   }


   #meetup-info {
       padding: 2% 0;
       margin: 0;
   }

   /*for small devices*/


   @media screen and (max-width:100%) {
    #menu {
       clear: left;
       float: left;
       margin-left: 30px;
       margin-bottom: 20px;
       line-height: 25px;
   }
}

   @media screen and (max-width:100%) {
       #photos {
           column-count: 2;
       }
   }

        .about {
            height: 50px;
            width: 100%;
            text-align: center;
            margin-left:25px;
            box-sizing: border-box;
            
        }
        
   #signup-heading {
       
       text-align: center;
       font-size: 28px;
       margin-left: 40px;
       margin-top:30px;

   }

   .telltext {
    text-align: center;
    font-family: "bowlby one", "bowlby one sc", sans-serif;
    font-weight: 400;
     color: #000;
   }

   /*form*/

   #labels {
       text-align: center;
       padding-top: 10px;
       margin-top:60px;
   }

   #tellus {
       text-align: center;
       padding-top: 20px;
 
   }

   #your-favourite-fortnite-skin {
       text-align: center;
   }
       /* about */
    #background-about {
        text-align: left;
        margin-left:8px;
    }

    
  